<p>receta works!</p>

<button (click)="goToPage('receta/get')">
    <span>get</span>
</button>

<button (click)="goToPage('receta/getreceta')">
    <span>get receta</span>
</button>

<button (click)="goToPage('receta/patch')">
    <span>patch</span>
</button>

<button (click)="goToPage('receta/post')">
    <span>post</span>
</button>

<button (click)="goToPage('receta/put')">
    <span>put</span>
</button>

<button (click)="goToPage('receta/delete')">
    <span>delete</span>
</button>

<button (click)="goToPage('')"> Volver </button>
